<!DOCTYPE html>
<html>
    <head>
        <title>My Father info</title>
    </head>
    <body>
        <h1>Relation : Father</h1>
        <h2>Name : {{John}}</h2>
        <h2>Age : {{30}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://st.depositphotos.com/1715570/2652/i/600/depositphotos_26521259-stock-photo-portrait-of-a-handsome-young.jpg" alt = "Reference your father's image present in the static folder" width = "200"/>
    </body>
</html>