<!DOCTYPE html>
<html>
    <head>
        <title>My Friend info</title>
    </head>
    <body>
        <h1>Relation : Friend</h1>
        <h2>Name : {{Steven}}</h2>
        <h2>Age : {{16}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://images.thestarimages.com/W2Vpb8GHaGw4IuaG77m0_1El4Sc=/1200x954/smart/filters:cb(1592512885834)/https://www.thestar.com/content/dam/thestar/entertainment/music/2020/06/18/teen-singer-of-black-anthem-song-signs-record-deal/keedron_bryant.jpg" alt = "Reference your friends image present in the static folder" width = "200"/>
    </body>
</html>