<!DOCTYPE html>
<html>
    <head>
        <title>My Mother info</title>
    </head>
    <body>
        <h1>Relation : Mother</h1>
        <h2>Name : {{Sasha}}</h2>
        <h2>Age : {{30}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://www.bu.edu/dental/files/2013/03/young-black-woman-smile-braces-hires1.jpg" alt = "Reference your mothers image present in the static folder" width = "200"/>
    </body>
</html>